body {
    color: rgb(0, 0, 0);
    background-color: rgb(227, 233, 250);
    font-family: 'Courier New', Courier, monospace;
}

li {
    font-weight: 700;
}

.recipes {
    display: block;
    box-sizing: border-box;
    background-color: white;
    margin-right: 1000px;
    padding: 10px;

}

div {

    display: block;
    box-sizing: border-box;
    background-color: white;
    margin-right: 900px;
    padding: 10px;  

}

.button {

    display: block;
    box-sizing: border-box;
    background-color: white;
    margin: 200px;
    padding: 20px;

}