body {
    color: rgb(0, 0, 0);
    background-color: rgb(227, 233, 250);
    font-family: 'Courier New', Courier, monospace;
}

li {
    font-weight: 700;
}

.recipes {
    display: block;
    box-sizing: border-box;
    background-color: white;
    margin-right: 250px;
    padding: 10px;

}